<!-- <div class="class-md-6" *ngIf="symbolData">
    <p class="text-center">{{symbolData.description}}</p>
    <p class="text-center">curtent price: {{quoateData.c}}</p>
    <p class="text-center">Change: {{quoateData.d}}</p>
    <p class="text-center">open Price today: {{quoateData.d}}</p>
    <p class="text-center">Lower Price of The Day: {{quoateData.l}}</p>
    <p class="text-center">{{symbolData.description}}</p>
</div> -->

<p>Month:{{callingData.month}}</p>
<p>Mspr:{{callingData.mspr}}</p>
<p>Change :{{callingData.Change}}</p>