<!-- <div class="class-md-6" *ngIf="symbolData">
    <p class="text-center">{{symbolData.description}}</p>
    <p class="text-center">curtent price: {{quoateData.c}}</p>
    <p class="text-center">Change: {{quoateData.d}}</p>
    <p class="text-center">open Price today: {{quoateData.d}}</p>
    <p class="text-center">Lower Price of The Day: {{quoateData.l}}</p>
    <p class="text-center">{{symbolData.description}}</p>
</div> -->

<div class="row mt-4">

                    <div class="col-4 d-flex align-items-center" *ngFor="let item of sentimentdatlist">

                        <div class="flex-1">

                            <div>{{months}}</div>

                            <div [ngClass]="+item? 'text-success' : 'text-danger'" class="pt-2">Change:

                               {{item }}{{item.change }} </div>

                            <div class="pt-2">MSPR: {{item.mspr}}</div>

                        </div>

                        <div class="arrow">

                            <i [ngClass]="(item)? 'bi-arrow-up text-success' : 'bi-arrow-down text-danger' "

                                class="bi fs-1 fw-bold"></i>

                        </div>

                    </div>

                </div>

                <a [routerLink]="['']" class="btn btn-primary active mt-4"><i class="bi bi-chevron-left"></i>Back to

                    list of stocks</a>